$break-small: 430px;
$break-smallMedium: 820px;
$break-medium: 1024px;
$break-large: 1300px;

@import "../containers/footer/footer";
@import "../containers/navbar/navbar";
@import "../components/landing/landing";
@import "../components/about/about";
@import "../components/login/login";
@import "../components/registration/registration";
@import "../components/main_menu/main_menu";
@import "../components/self_assessment/self_assessment";
@import "../components/health_report/health_report";
@import "../components/help/help";
@import "../components/resiliency_resources/resiliency_resources";


body, html {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "sans-serif", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  }
  
body > div {
display: flex;
flex-direction: column;
}

// .workbox-refresh{
//   color: white;
//   width: 100%;
//   left: 0px !important;
//   bottom: 0px !important;
//   top: 50px;
// }

.workbox-refresh{
  left: auto !important;
  bottom: auto !important;
	display:block;
	font-size:14px;
	width:180px;
	padding:5px 0;
  position:absolute;
  right: 4%;
  top: 25px;
  margin-left:-90px;
  box-sizing:border-box;
  border-radius:15px;
  color:#fff;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}

.animateOpen{
	-webkit-animation:moveOpen 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
}
/* Safari and Chrome */
@-webkit-keyframes moveOpen 
	{
  from {-webkit-transform: translate(0,23px);}
  10% {-webkit-transform: translate(0,20px);}
  12% {-webkit-transform: translate(0,23px);}
  16% {-webkit-transform: translate(0,20px);}
  80% {-webkit-transform: translate(0,23px);}
  85% {-webkit-transform: translate(0,26px);}
  to {-webkit-transform: translate(0,23px);}
}


.main_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

